<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="mustafa_yalidinedelivery" frontName="mustafa_yalidinedelivery">
            <module name="Mustafa_YalidineDelivery" />
        </route>
    </router>
</config>