<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route frontName="mustafa_yalidinedelivery" id="mustafa_yalidinedelivery">
            <module before="Magento_Backend" name="Mustafa_YalidineDelivery"/>
        </route>
    </router>
</config>
