.yalidine-button {
    color: #333 !important;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
    text-shadow: none !important;
    background: #fccc00 url('images/dhl-logo-small.png') no-repeat 5px center !important;
    padding-left: 90px !important;
}

a.yalidine-grid-label {
    background: #fccc00;
    color: #d30511;
    padding: 5px;
    font-size: 80%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#yalidine_authentication_test.success {
    background: green;
    color: #FFF;
    border: 1px SOLID darkgreen;
}

#yalidine_authentication_test.error {
    background: red;
    color: #FFF;
    border: 1px SOLID darkred;
}

#yalidine_debug_log_reset.success {
    background: green;
    color: #FFF;
    border: 1px SOLID darkgreen;
}

#yalidine_debug_log_reset.error {
    background: red;
    color: #FFF;
    border: 1px SOLID darkred;
}
#test_button{
    cursor: pointer;
    background-color: #0f5293;
    font-size: 1.4rem;
    color: #fff;
    padding: 10px;
    display: inline-block;
    &:hover{
        background-color: #136abd;
    }
}