<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="mab_tombola">
        <route id="mab_tombola" frontName="tombola">
            <module name="Mab_Tombola" />
        </route>
    </router>
</config>